extends base

block content
  div(class="row")
    div(class="col-md-12")
      script(src=basePath("modules/d3/d3.min.js"))
      script(src=basePath("static/js/charts.js"))

      div(class="jumbotron")
        h2 Welcome to Swingletree

        hr

        h5 Getting Started

        ol
          li Install Swingletree to your GitHub organization
          li Add and configure a #[code .swingletree.yml] to your repository root
          li Configure your build to use yoke to send your build reports for processing to Swingletree
          li Run your build

        p For more detailed information see documentation linked by the #[i Help] menu item.

        hr

        if appPublicPage
          p To install Swingletree to your GitHub organization click #[i Actions] in the menu.
        else
          p To install Swingletree to your GitHub organization visit the Swingletree GitHub app public page of your GitHub instance.

