
$primary: #61828f;
$secondary: #6d7a86;


// extra colors
$failure-color: rgb(130, 10, 10);
$warning-color: rgb(130, 130, 10);
$success-color: rgb(50, 113, 130);
$neutral-color: rgba(0, 0, 0, 0);

$sev-blocker-color: rgb(53, 53, 53);
$sev-major-color: rgb(175, 28, 28);
$sev-warning-color: rgb(187, 164, 33);
$sev-info-color: rgb(50, 113, 130);

$footer-height: 300px;